{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^react(-dom)?$",
    "^react-router(-dom)?$",
    "<THIRD_PARTY_MODULES>",
    "^@/utils(/.*)?$",
    "^@/services(/.*)?$",
    "^@/components(/.*)?$",
    "^@/store(/.*)?$",
    "^@/shared(/.*)?$",
    "^[.]{1,2}/.*",
    "^.+\\.(css|scss)$",
    "^@/styles(/.*)?$"
  ]
}
